# For Sensors
/dev/mma8452_daemon       0660   system     system
/dev/akm8963_dev          0660   system     system
/dev/compass              0660   system     system

# For Graphics
/dev/ion                  0666   system     system
/dev/rga                  0666   system     system
/dev/rk29-ipp             0666   system     system   
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/vpu_service          0666   system     system

# For Radio
/dev/ttyUSB*              0660   radio      radio

# For Mali
/dev/mali           	  0666   system     system
/dev/ump           	  0666   system     system

# For DRM
/dev/rknand_sys_storage   0660   system     system
